*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    background-color:#fff;
    color:#000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans','Arial',sans-serif;
    font-weight: 300;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*Clear fix*/
.clearfix{
    zoom:1;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
    visibility: hidden;
}
/***Header***/
header {
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(/Digital_Agency/Resources/css/img/header-img.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(/Digital_Agency/Resources/css/img/header-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size:500%;
    color: #fff;
    font-weight: 400;
    margin-bottom:20px;
}

h2{
    font-size:200%;
    color:#fff;
    fon t-weight: 300;
}
.header-box-text{
    margin-bottom: 50px;
}
/****Buttons****/
.btn:link,
.btn:visited,
input[type=submit] {
    text-decoration:none;
    padding:10px 30px;
    border-radius: 200px;
    font-weight: 400;
    display:inline-block;
} 

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #ed07b7;
    color: #fff;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover {
    background-color:#BD0592;
}
.btn-ghost:link,
.btn-ghost:visited{
    padding:10px 30px;
    border:2px solid #ed07b7;
    color:#ed07b7;
    margin-top: 20px;
}
.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ed07b7;
    color:#fff;
}
/**Navigation**/
.main-nav{
    list-style:none;
    float:right;
    margin-top:50px;
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
}
.main-nav li a:link,
.main-nav li a:visited
{
    text-decoration: none;
    color:white;
    font-weight: 400;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #806066;
}

.logo{
    height: 120px;
    width: auto;
    float:left;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.2);
}
/***About***/
.laptop-img{

    width:80%;
}

.about-heading{
    color:#000;
    font-size: 250%;
    font-weight:500;
    margin-bottom: 50px;
}
.about-para{
    color:#555;
    margin-bottom:50px;
    font-weight: 400;
}
.about-box{
    margin-top:150px;
}
.about-box:first-child{
    text-align: left;
    padding:0 5%; 
}
.about-box:last-child{
    text-align: right;    
}
.about-section{
    padding-bottom:20px;
}
/****Work Secction***/
.section-heading{
    margin-top: 150px;
    font-size: 250%;
    color:#000;
    margin-bottom:30px;
    font-weight: 400;
}
.section-sub-heading{
    font-size:150%;
    color:#555;
    font-weight: 300;
    margin-bottom:20px;
}
.section-sub-heading:after{
    display: block;
    height:2px;
    width:100px;
    background-color:#806066;
    content:" ";
    margin:30px auto 0 auto; 
}
.work-section{
    text-align: center;
    background-color: #f4f4f4;
}
.work-portfolio{
    width:100%;
    list-style: none;
}
.work-portfolio li{
     display:block;
     width:25%;
     float:left;   
}
.work-para{
    color:#fff;
}
.portfolio-image{
    background-color:#000;
    overflow: hidden;
}
.portfolio-image img{
    width: 100%;
    height:auto;
    transform: scale(1.15);
    transition: transform 0.5s opacity .7;
    cursor:pointer;
}
.portfolio-image img:hover{
    transform: scale(1);
    opacity:.7;
}

/*Services sections */
.services-section{
    text-align: center;
}
.big-icon{
    font-size:250%;
    color:#6920b0;
    display:block;
    margin-bottom: 30px;
    cursor: pointer;
}
.service-box{
    padding:1% 3%; 
}
.service-heading{
    font-size:150%;
    margin-bottom: 30px;
    font-weight: 400;
}
.service-para{
    color:#555;
    font-size: 90%;
    margin-bottom: 20px;
}
.service-link{
    color:#000;
    text-transform: uppercase;
    text-decoration: none;
}
/**Partners Section***/
.partners-section{
    text-align:center;
}
.Partner-logo{
    width:65%;
    height:auto;
}

/**Testimonials section**/
.testimonials-section{
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)), url(/Digital_Agency/Resources/css/img/testimonial-background.jpg);
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    color:white;

}
.testimonial-heading{
    font-size:250%;
    margin-bottom: 20px;
    margin-top: 150px;
    font-weight: 400;
}
.testimonial-box{
    text-align: left;
    margin-bottom: 50px;
}
blockquote{
    padding:2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote:before{                content:"\201C";
    display: block;
    font-size: 500%;
    position:absolute;
    left:-5px;
    top:-5px;
}
cite{
    display: block;
    margin-top: 25px;
    font-size: 90%;
}
cite img {
    border-radius: 50%;
    height:20%;
    vertical-align: middle;
    margin-right: 10px;
}
/***Packages section***/
.packages-section{
    text-align: center;
    background-color:#f4f4f4;
}
.package-box{
    background-color:#fff;
    width:90%;
    margin-bottom: 30px;
    text-align: left;
    box-shadow: 0 3px 2px #efefef;
}
ul{
    list-style-type: none;
}
.package-heading{
    font-size: 150%;
    color:#555;
    margin-bottom: 50px;
    font-weight: 400;
}
.package-price{
    color:#ed07b7;
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 10px;
}
.package-price span{
    font-size: 30%;
    font-weight: 500;
}
.package-para{
    color:#555;
    font-size: 80%;
    margin-bottom: 10px;
}
.small-icon{
    color:#ed07b7;
    font-size: 120%;
    display:inline-block;
    width:30px;
    text-align: center;
}
.package-box ul li{
    color:#555;
    padding:5px 0;
}
.package-box div{
    border-bottom: 1px solid #efefef;
    padding:15px;
}
.package-box div:last child{
    text-align: center;
    border:0;
    padding-left: 0;
}
.package-box div first child{
    background-color: #fcfcfc;
}
/**Contact-section**/
.contact-section{
    text-align: center;

}
.contact-form{
    text-align: left;
    color:#555;
    width:60%;
    margin:0 auto;
}
input[type=submit]{
    border:0;
}

input[type=text],
input[type=email],
textarea{
    width:100%;
    padding:8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
textarea{
    height: 100px;
}
input[type=checkbox] {
	margin: 10px 5px 10px 0;
}
*.focus{
    outline:none;
}
/**Footer**/
footer {
    background-color: #333;
    padding:50px;
    font-size:80%;
    color:#888;
}
.footer-nav{
    float:left;
}
.social-links{
    float:right;
}
.footer-nav li{
    list-style: none;
    display:inline-block;
    margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    color:#888;
    text-decoration: none;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color:#fff;
}
.social-links li{
    list-style:none;
    display:inline-block;
    margin-left:20px;
}
.social-links li:link,
.social-links li:visited{
    font-size: 160%;
}
.fa-facebook:hover{
    color:#3b5998;
    transition:color 0.2s;
}
.fa-instagram:hover{
    color:#517fa4;
    transition:color 0.2s;
}
.fa-twitter:hover{
    color:#00aced;
    transition:color 0.2s;
}
.fa-linkedin:hover{
    color:#007bb6;
    transition:color 0.2s;
}
.fa-youtube:hover{
    color:#c4302b ;
    transition:color 0.2s;
}
footer p{
    text-align:center;
    margin-top: 50px;
}
.sticky-nav{
    position:fixed;
    left:0;
    top:0;
    background-color: rgba(255,255,255,.8);
    width:100%;
    box-shadow: 0 2px 2px #efefef;

}
.sticky-nav .logo{
    height:60px;
    margin-top:3px;
}
.sticky-nav .main-nav{
    margin-top:18px ;
}
.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
    color:#555;
    padding:5px 0;
}
